.container {
	width: 100vw;

	display: flex;
	justify-content: center;
}
.wrapper {
	width: 1300px;
	gap: 50px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wrapper > :first-child {
	margin-top: 50px;
}
.wrapper > :last-child {
	margin-bottom: 100px;
}

/* Pagination */
.paginationWrapper {
	width: inherit;
	height: 40px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.paginationBox {
	width: 600px;
	height: inherit;

	display: flex;
	justify-content: space-between;
}
.paginationItem {
	width: 40px;
	height: inherit;
	border-radius: 5px;
	font-weight: bold;
	border: 1px solid #aaaaaa;

	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	color: #aaaaaa;
}
.paginationItem:hover {
	background-color: #6594e7;
	color: white;
}
