.container {
	width: 100vw;

	display: flex;
	justify-content: center;
}
.wrapper {
	width: 1300px;
	gap: 50px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wrapper > :first-child {
	margin-top: 50px;
}
.wrapper > :last-child {
	margin-bottom: 100px;
}

/* Rank */
.rankBox {
	width: inherit;
	column-gap: 20px;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
.itemWrapper {
	height: 500px;
}
.rank {
	width: inherit;
	height: 90px;
	font-size: 26px;
	color: #6594e7;

	display: flex;
	align-items: center;
	justify-content: center;
}
