/* 헤더 틀 */
.container {
	width: 100vw;
	min-height: 120px;

	display: flex;
	justify-content: center;

	background-color: #f4f2e5;
}
.wrapper {
	width: 1300px;
	min-height: 120px;

	display: flex;
	flex-direction: column;
}

/* 헤더 상단 */
.topWrapper {
	min-height: 60px;

	display: flex;
	justify-content: space-between;
}
.logo {
	width: 250px;
	height: 60px;

	background-color: yellow;
}
.searchForm {
	width: 400px;
	height: 60px;

	display: flex;
	align-items: flex-end;
	position: relative;
}
.searchForm input {
	width: 98%;
	height: 60%;
	border-radius: 50px;
	padding: 0 20px;

	border: none;
	outline: none;
}

.searchIcon {
	right: 15px;
	bottom: 5px;

	position: absolute;
}

/* 헤더 하단 */
.bottomWrapper {
	min-height: 60px;

	display: flex;
	justify-content: space-between;
}
.navigationWrapper {
	display: flex;
}
.navigationWrapper > a {
	margin-right: 10px;
}
