.container {
	font-size: 24px;

	display: flex;
	flex-direction: column;
	/* align-items: center; */

	text-align: center;
}
.container > :first-child {
	margin-bottom: 50px;
}
.container > h1 {
	/* font-size: 30px; */
	color: #6594e7;
	margin-bottom: 50px;
}
.book {
	display: flex;
	align-items: center;
	justify-content: center;
}
.book > img {
	border-radius: 10px;
}
.text {
	width: 400px;
	/* height: 40px; */
	font-size: 24px;
	margin-bottom: 50px;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.container > a > button {
	margin-top: 30px;

	color: #000000;
	text-decoration: underline;

	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;
}
.container > a > button:hover {
	cursor: pointer;
	color: #6594e7;
}
