.container {
	width: clamp(500px, 90%, 1300px);
	margin: 50px auto;
}
.wrapper {
	display: flex;
}
.userName {
	font-size: 25px;
	font-weight: bold;
	color: #6594e7;
}
.userNameText {
	font-size: 25px;
	font-weight: bold;
	margin-left: 10px;
}
