.CategoryBookItemWrapper {
	width: 1025px;
	margin-top: 50px;
}

.CategoryBookItemWrapper > div:last-child {
	margin-bottom: 100px;
}

.BookItemWrapper {
	width: inherit;
	margin: 50px 0 50px 0;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 50px;
	column-gap: 75px;
}
