.categoryBarWrapper {
	width: 225px;
	margin-top: 50px;
	padding-bottom: 10px;

	border: solid 1px #d8d8d8;

	position: sticky;
	top: 15px;
}
.categoryBarTitle {
	width: inherit;
	height: 30px;
	font-size: 14px;

	margin-top: 20px;
}
.categoryBarTitle > h1 {
	margin-left: 20px;
	font-weight: bold;
}
.categoryBarItems {
	margin-left: 20px;
}
.categoryBarItems > li {
	font-size: 12px;
}
.categoryBarItems > li > a {
	height: 30px;

	display: flex;
	align-items: center;
}
.categoryBarItems > li > a > p {
	font-size: 12px;

	cursor: pointer;
	display: inline;

	color: #666;
}
.categoryBarItems > li > a > p:hover {
	text-decoration: underline;
}
