/* 페이지 틀 */
.container {
	width: 100vw;
	/* height: 100vh; */

	display: flex;
	justify-content: center;
}
.wrapper {
	width: 1300px;
	gap: 100px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wrapper > :first-child {
	margin-top: 100px;
}
.wrapper > :last-child {
	margin-bottom: 100px;
}

/* 부모 컴포넌트 */
.newBooksWrapper {
	width: inherit;
	height: 470px;

	display: flex;
	flex-direction: column;
}
.themeRecommendationWrapper {
	width: inherit;
	height: 510px;

	display: flex;
	flex-direction: column;
}
.bestSellerWrapper {
	width: inherit;
	height: 600px;

	border: 1px solid red;

	display: flex;
	flex-direction: column;
}
.usedBooksWrapper {
	width: inherit;

	display: flex;
	flex-direction: column;
}

/* /////////////////////////// */
.themeBox {
	width: 1300px;
	height: 450px;
	gap: 47px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}
.themeItem {
	width: 400px;
	height: 200px;
	border-radius: 10px;

	position: relative;

	background-color: #993366;
}
