/* 페이지 틀 */
.container {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
}
.wrapper {
	width: 1300px;
	height: 470px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* 부모 컴포넌트 */
.newBooksWrapper {
	width: inherit;
	height: 470px;
	display: flex;
	flex-direction: column;
}

/* 부모 컴포넌트 타이틀 */
.titleWrapper {
	width: inherit;
	height: 30px;

	display: flex;
	justify-content: space-between;
}
.titleName {
	display: flex;
}
.titleName h1 {
	font-size: 30px;
	font-weight: bold;
}
.titleName p {
	font-size: 20px;
	margin: 10px 0 0 40px;

	color: #aaaaaa;
}
.seeAll {
	font-size: 16px;
	margin-top: 14px;

	text-align: right;
	cursor: pointer;
}

/* 도서 컴포넌트 랩퍼 */
.bookItemWrapper {
	width: 1300px;
	margin-top: 30px;

	display: flex;
	flex-direction: row;
	gap: 20px;
}

/* 도서 컴포넌트 */
.bookItem {
	width: 200px;
	height: 410px;

	display: flex;
	flex-direction: column;
}
.bookImage {
	width: inherit;
	height: 275px;

	border-radius: 10px;
	overflow: hidden;

	transition: transform 0.3s ease-in-out;
}
.bookImage:hover {
	transform: scale(1.05);
}
.bookText {
	width: inherit;
	height: 135px;
	margin-top: 20px;
}
.bookText h1 {
	font-size: 18px;
}
.bookText a {
	color: #000000;
}
.bookText a:hover {
	text-decoration: underline;
}
.bookText p {
	margin-top: 20px;
}
.bookText p:nth-of-type(1) {
	color: #aaaaaa;
}
