.container {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.title {
	width: 1300px;
	margin: 0 auto 30px auto;
	font-size: 30px;
	font-weight: bold;
}

.infoWrap {
	width: 1300px;
	margin: 0 auto 20px auto;
	display: flex;
	justify-content: space-between;
}

.contentInfoWrap {
	display: flex;
	align-items: center;
}

.dot {
	font-size: 5px;
	height: 16px;
	line-height: 16px;
	margin: 0 5px;
}

/* 수정 삭제 */

.adimBtnWrap {
	display: flex;
}

.adimBtnWrap > a {
	margin-right: 30px;
	width: 100px;
	height: 24px;
	line-height: 24px;
	border: none;
	color: black;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
}
.adimBtnWrap > a:hover {
	color: #6594e7;
}
.adimBtnWrap > button {
	margin-right: 20px;
	width: 100px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	border: none;
	background-color: white;
	font-size: 18px;
	font-weight: bold;
}
.adimBtnWrap > button:hover {
	color: red;
}
.line {
	width: 1300px;
	margin-bottom: 30px;
}

.viewerWrap {
	width: 1300px;
	min-height: 700px;
	margin: 0 auto 30px auto;
}

/* option section*/

.optionContainer {
	width: 1300px;
	margin: 0 auto 30px auto;
	display: flex;
	flex-wrap: wrap;
}
.optionItemWrap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 650px;
	height: 70px;
	margin-bottom: 30px;
}
.optionItemTitle {
	font-size: 24px;
	font-weight: bold;
	color: #717171;
}
.optionItemContent {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
	color: #000;
}
.optionItemContent:visited {
	color: #000;
}

/* 댓글 */

.commentHeader {
	width: 1200px;
	margin: 0 auto 20px auto;
	display: flex;
	justify-content: space-between;
}
.commentCount {
	font-size: 20px;
	font-weight: bold;
}
.commentSortWrap {
	display: flex;
	align-items: center;
}
.commentSortWrap > a {
	border: none;
	color: black;
	background-color: white;
	cursor: pointer;
}
.commentSortWrap > a:hover {
	color: #6594e7;
}
.commentSortWrap > a:visited {
	color: black;
}

.commentCreateWrap {
	width: 1200px;
	margin: 15px auto;
}
.commentCreateWrap > button {
	width: 100%;
	height: 50px;
	text-align: left;
	padding: 0 30px;
	color: #adb5bd;
	background-color: inherit;
	border: 1px solid #adb5bd;
	border-radius: 10px;
}

.commentEditorBtnWrap > button {
	width: 100px;
	height: 30px;
	margin-left: 10px;
	cursor: pointer;
}

/* 댓글 */

.commentCreateBoxWrap {
	width: 1300px;
	margin: 0 auto;
}
.commentCreateBoxWrap > textarea {
	width: 1260px;
	height: 210px;
	border: 1px solid #adb5bd;
	border-radius: 10px;
	padding: 20px;
	resize: none;
	font-size: 20px;
}
.commentCreateBoxWrap > div {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
	margin-bottom: 30px;
}
.commentCreateBoxWrap > div > button {
	width: 100px;
	height: 30px;
	cursor: pointer;
	margin-left: 20px;
}
/* 댓글 본문 */
.commnetWrap {
	width: 1200px;
	margin: 0 auto;
	padding: 30px 50px 0 50px;
}
.commentInfoWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.commentInfoWrap > div {
	display: flex;
	align-items: center;
}
.commentContentWrap {
	width: 100%;
}
.commentContentWrap > p {
	margin-bottom: 20px;
}
.contentBtnWrap {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 30px;
}
