.Container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;

	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.3);
}
.modalWrapper {
	width: 950px;
	height: 550px;
	border-radius: 10px;
	gap: 20px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f4f2e5;
}
.modalImage {
	width: 450px;
	height: 500px;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ffffff;
}
.modalContents {
	width: 450px;
	height: 500px;
	border-radius: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.contents {
	width: 400px;
	height: inherit;
}
.title {
	width: inherit;
	height: 50px;

	display: flex;
	justify-content: space-between;
}
.title > span {
	font-size: 32px;
	font-weight: bold;

	display: flex;
	align-items: center;
}

.formWrapper {
	width: inherit;
	height: 425px;
	margin-top: 25px;
}
.inputWrapper {
	width: inherit;
	height: 360px;
	gap: 20px;

	display: flex;
	flex-direction: column;
}
.inputLabel {
	width: inherit;
	height: 70px;
	font-size: 20px;
	font-weight: bold;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.inputField {
	width: 100%;
	height: 36px;
	font-size: 16px;
	padding: 0 12px;

	border: none;
	box-sizing: border-box;
}

.buttonWrapper {
	width: inherit;
	height: 50px;
	margin-top: 15px;

	display: flex;
}
.buttonWrapper > input {
	width: inherit;
	height: inherit;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;

	border: none;
	cursor: pointer;

	color: #ffffff;
	background-color: #6594e7;
}
.buttonWrapper > input:hover {
	background-color: #3464b9;
}

.closeIcon {
	cursor: pointer;
}
