.sortBox {
	width: inherit;
	height: 60px;

	border: solid 1px #ebebeb;

	display: flex;
	justify-content: flex-end;
}
.textBox {
	/* width: 250px; */
	height: inherit;

	display: flex;
	/* flex-direction: row-reverse; */
	align-items: center;
}
.textBox > p {
	font-size: 12px;
	margin-right: 25px;

	cursor: pointer;

	color: #666666;
	/* color: #999; */
}
.textBox > p:hover {
	text-decoration: underline;
}

/* 선택된 sort item */
.selectedSortItem {
	font-weight: bold;
}
