.skeletonWrapper {
	display: flex;
}
.skeletonImgArea {
	padding: 18px 0px;
}
.skeletonImg {
	width: 85px;
	height: 120px;
	border-radius: 10px;
	background-color: #e0e0e0;
	animation: pulse 1.5s infinite ease-in-out;
}
.skeletonDataWrapper {
	border-bottom: 1px solid #e0e0e0;
	animation: pulse 1.5s infinite ease-in-out;
}
.skeletonDataWrap {
	width: 100%;
	padding: 18px 16px;
}
.skeletonTitle {
	height: 16px;
	padding: 0 0 5px 0;
	background-color: #e0e0e0;
	border-radius: 5px;

	margin-bottom: 5px;
	animation: pulse 1.5s infinite ease-in-out;
}
.skeletonReportContent {
	margin-bottom: 30px;
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	white-space: normal;
	line-height: 1.5;
	text-align: left;
	word-break: break-all;
	background-color: #e0e0e0;
	border-radius: 5px;
	animation: pulse 1.5s infinite ease-in-out;
}
.skeletonContent {
	margin-bottom: 10px;
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	white-space: normal;
	line-height: 1.5;
	text-align: left;
	word-break: break-all;
	color: #e0e0e0;
	font-size: 14px;
	animation: pulse 1.5s infinite ease-in-out;
}
.skeletonWrapper {
	display: flex;
}
.skeletonFooter {
	margin-top: 10px;
	height: 20px;
	background-color: #e0e0e0;
	border-radius: 5px;
	animation: pulse 1.5s infinite ease-in-out;
}

.skeletonIconWrapper {
	display: flex;
}
.skeletonIconWrapper > dl {
	display: flex;
}
.iconText {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}
.iconsStyle {
	width: 15px;
	height: 15px;
	margin-right: 4px;
	color: #e0e0e0;
	animation: pulse 1.5s infinite ease-in-out;
}
.skeletonDataNumber {
	font-size: 12px;
	font-weight: 700;
	margin-right: 10px;
	color: #e0e0e0;
	animation: pulse 1.5s infinite ease-in-out;
}
.icondd {
	display: flex;
	align-items: center;
}
.contentState {
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 25px;
	padding: 5px 8px;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	background-color: #e0e0e0;
	animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
