.container {
	width: 100%;
	display: flex;
	margin: 30px auto 60px auto;
	flex-direction: column;
}
.titleWrap {
	display: flex;
	justify-content: space-between;
}
.contentState {
	width: 70px;
	height: 28px;
	line-height: 28px;
	margin-right: 10px;
	text-align: center;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	background-color: #00c471;
	font-size: 18px;
	font-weight: bold;
}
.title {
	width: 95%;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 15px;
}
.content {
	width: 100%;
	height: 36px;
	font-size: 18px;
	margin-bottom: 15px;
	color: #757575;
	/* white-space: nowrap; */
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}
.contnetInfoWrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.authorAndDateWrap {
	display: flex;
}
.authorAndDateWrap > div {
	color: #909090;
}
.dot {
	font-size: 5px;
	height: 16px;
	line-height: 16px;
	margin: 0 5px;
}
.activityCounters {
	display: flex;
}
.activityCounters > div {
	color: #909090;
	margin-right: 8px;
}
.postImgArea {
	padding: 18px 0px;
}
.postImg {
	width: 85px;
	height: 120px;
	border-radius: 10px;
	background-color: #eeeeee;
}
