.container {
	width: 1300px;
	justify-content: space-between;
	display: flex;
	margin-bottom: 47px;
}
.optionBtnWrap {
	width: 940px;
	display: flex;
}
.sortOptionBtn {
	width: 300px;
	margin-right: 20px;
}
.optionBtn {
	width: 300px;
}
.container > a {
	width: 300px;
	height: 36px;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	line-height: 36px;
}
