.container {
	display: grid;
	width: 100vw;
	grid-template-columns: 1fr 1300px 1fr;
	min-height: 80vw;
}
/* 헤더 css */
.headerWrap {
	width: 100vw;
	height: 100px;
	background-color: #333b3d;
}
.headerWrap > div {
	width: 1300px;
	color: white;
	margin: 0 auto;
}
.headerWrap > div > h2 {
	font-size: 30px;
	padding-top: 20px;
	margin-bottom: 10px;
}
.headerWrap > div > p {
	font-size: 15px;
}
/* mainWrap */
.mainWrap {
	display: grid;
	width: 100%;
	grid-template-columns: 970px 1fr;
	row-gap: 30px;
}

/* content 영역 */
.contentWrap {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
/* 주간 인기글 영역 */

.weeklyPopularWrap {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.weeklyPopularWrap > div {
	width: 280px;
	height: 460px;
	display: flex;
	flex-direction: column;
	border: 1px solid #b5bdc4;
	border-radius: 5px;
	padding: 20px 10px;
}
.weeklyPopularWrap > div > h3 {
	font-size: 16px;
	margin-bottom: 20px;
	color: #b5bdc4;
}
.weeklyPopularWrap > div > a {
	font-size: 16px;
	margin-bottom: 20px;
	color: #b5bdc4;
	width: 280px;
	word-wrap: break-word;
}
.weeklyPopularWrap > div > a:visited {
	color: black;
}
.weeklyPopularContent {
	margin-bottom: 10px;
}
.weeklyPopularWriter {
	margin-bottom: 15px;
}
