.container {
	display: grid;
	width: 100vw;
	grid-template-columns: 1fr 1300px 1fr;
	min-height: 80vw;
}
/* 헤더 css */
.headerWrap {
	width: 100vw;
	height: 100px;
	background-color: #333b3d;
}
.headerWrap > div {
	width: 1300px;
	color: white;
	margin: 0 auto;
}
.headerWrap > div > h2 {
	font-size: 30px;
	padding-top: 20px;
	margin-bottom: 10px;
}
.headerWrap > div > p {
	font-size: 15px;
}
/* mainWrap */
.mainWrap {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 700px 1fr;
}

/* 링크 영역 */
.communityNavWrap {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.communityNavWrap > div {
	width: 200px;
	height: 300px;
	display: flex;
	flex-direction: column;
}
.communityNavWrap > div > h3 {
	font-size: 16px;
	margin-bottom: 20px;
	color: #b5bdc4;
}
.communityNavWrap > div > a {
	font-size: 20px;
	margin-bottom: 30px;
	padding-left: 10px;
}
.communityNavWrap > div > a:visited {
	color: black;
}
.communityNavWrap > div > a:hover {
	color: #ef1717;
}
/* .popularContentWrap {
	position: sticky;
	top: 20px;
	margin-top: 40px;
	background: lightgray;
	width: 260px;
	height: 500px;
}
@media screen and (min-width: 2000px) {
	.container {
		grid-template-columns: 1fr 1300px 1fr;
	}
	.popularContentWrap {
		margin-left: 100px;
		width: 350px;
	}
} */
