.container {
	width: 1100px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 47px;
}

.searchWrap {
	position: relative;
	width: 800px;
	height: 36px;
	display: flex;
	align-items: center;
}

.searchInput {
	width: calc(100% - 50px);
	height: 100%;
	padding-left: 60px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.iconContainer {
	position: absolute;
	top: 8px;
	left: 20px;
	z-index: 10;
}

.searchLink {
	width: 150px;
	height: 36px;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	line-height: 36px;
}

@media screen and (min-width: 2000px) {
	.container {
		width: 1300px;
	}
	.searchWrap {
		width: 1000px;
	}
	.searchInput {
		width: calc(100% - 50px);
	}
	.searchLink {
		width: 200px;
	}
}
