.container {
	display: grid;
	width: 100vw;
	grid-template-columns: 1fr 1300px 1fr;
	min-height: 80vw;
}

/* mainWrap */
.mainWrap {
	display: grid;
	width: 100%;
	grid-template-columns: 970px 1fr;
	row-gap: 30px;
}

/* content 영역 */
.contentWrap {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
/* 주간 인기글 영역 */

.weeklyPopularWrap {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.weeklyPopularWrap > div {
	width: 280px;
	height: 600px;
	display: flex;
	flex-direction: column;
	border: 1px solid #b5bdc4;
}
.weeklyPopularWrap > div > h3 {
	font-size: 20px;
	padding-top: 10px;
	padding-left: 15px;
	margin-bottom: 10px;
	color: #000000;
}

.weeklyPopularWrap > div > a {
	font-size: 16px;
	margin-bottom: 20px;
	color: #b5bdc4;
	width: 265px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
}
.weeklyPopularWrap > div > a:hover {
	background-color: #dcddde;
	transition: 0.5s;
}
.weeklyPopularWrap > div > a:visited {
	color: black;
}
.weeklyPopularContent {
	color: #b5bdc4;
	margin-top: 5px;
	margin-bottom: 5px;
}

.weeklyPopularWriter {
	margin-top: 15px;
	margin-right: 15px;
}
