.container {
	height: 75dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container > a {
	background-size: cover;
}
.text {
	margin: 40px 0;
	font-size: 30px;
}
.btnWrap {
	display: flex;
	justify-content: space-between;
}
.btnWrap > button {
	font-size: 24px;
	background-color: inherit;
	border: none;
}
.btnWrap :nth-child(1) {
	margin-right: 50px;
}
