.themeHeader {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8f8f8;
}
.titleWrapper {
	width: 1300px;
	height: inherit;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title {
	font-size: 30px;
	font-weight: bold;
}
.artistImage {
}
