.container {
	height: calc(100vh - 290px);

	display: flex;
	justify-content: center;
}
.wrapper {
	width: 1300px;
	height: inherit;
	gap: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
