.container {
	width: 1300px;
	margin: 0 auto;
}
/* 옵션 */
.optionWrap {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.bookSelectBtn {
	width: 500px;
	margin-right: 50px;
}

.BtnWrap {
	display: flex;
	justify-content: flex-end;
	margin-top: 50px;
	margin-bottom: 30px;
}
.BtnWrap > button {
	margin-left: 20px;
	width: 100px;
	height: 34px;
	font-size: 24px;
	line-height: 24px;
}
/* header 영역 */
.header {
	width: 1220px;
	height: 48px;
	margin-bottom: 30px;
	background-color: rgba(244, 242, 229, 0.5);

	display: flex;
	align-items: center;
	padding: 20px 40px;
}
.header > div {
	font-size: 30px;
	line-height: 30px;
	margin-right: 30px;
}
.header > h2 {
	font-size: 30px;
	line-height: 30px;
	color: black;
	font-weight: bold;
}
/* title */
.title {
	width: 1300px;
	height: 48px;
	margin-bottom: 30px;

	display: flex;
	align-items: center;
	border: none;

	font-size: 36px;
}
.title:focus {
	outline: none;
}
