/* 카테고리 */
.categoryBox {
	width: inherit;
	height: 130px;
	column-gap: 5px;
	row-gap: 5px;

	display: grid;
	grid-template-columns: repeat(10, 1fr);
}
.categoryItem {
	width: 125px;
	height: 40px;
	border: 1px solid black;
	border-radius: 50px;
	font-size: 13px;
	font-weight: bold;

	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	background-color: #f8f8f8;
}
.categoryItem:hover {
	color: #ffffff;
	background-color: #231304;
}

/* 선택된 카테고리 아이템 */
.selectedCategory {
	color: #ffffff;
	background-color: #231304;
}

/* 카테고리 박스 하단 줄 */
.categoryBottom {
	width: inherit;
	height: 1px;

	background-color: #aaa;
}
