.container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.wrapper {
	display: flex;
}
.btnWrapper {
	padding-right: 30px;
}
.mypagePostBtn {
	font-size: 20px;
	border: 0;
	background-color: transparent;
	padding: 10px 15px;
	cursor: pointer;
}
.mypagePostBtn:hover {
	font-size: 20px;
	border: 0;
	background-color: transparent;
	padding: 10px 15px;
	cursor: pointer;
	color: #909090;
}
.mypagePostBtnActive {
	font-size: 20px;
	border: 0;
	background-color: transparent;
	padding: 10px 15px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #6594e7;
	color: #fff;
}
.postBtn {
	font-size: 20px;
	color: #000000;
	padding-right: 30px;
	display: block;
	width: 80px;
	background-color: #6594e7;
	color: #fff;
}
/* .postBtn.isActive {
	display: block;
} */
