/* Pagination */
.paginationWrapper {
	width: inherit;
	height: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.paginationBox {
	/* width: 400px; */
	height: inherit;
	gap: 8px;

	display: flex;
	justify-content: space-between;
}
.paginationItem {
	width: 30px;
	height: inherit;
	border-radius: 3px;
	border: 1px solid #aaaaaa;
	font-size: 12px;

	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	color: #aaaaaa;
}
.paginationItem:hover {
	background-color: #6594e7;
	color: #ffffff;
}

/* 선택된 페이지네이션 아이템 */
.selectedNum {
	color: #ffffff;
	background-color: #6594e7;
}
/* #bad2eb; */
/* #6594e7; */
