/* sort */
.sortBox {
	width: inherit;
	height: 50px;
	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	/* border: 1px solid #aaaaaa; */
}
.productAmounts {
	width: 150px;
	height: 36px;
	margin-left: 20px;
	font-size: 16px;

	display: flex;
	align-items: center;
}
.sortItem {
	width: 150px;

	display: flex;
	justify-content: space-between;
}
.sortItem > span {
	font-size: 13px;

	cursor: pointer;
}
