.commentContainer {
	/* padding-bottom: 50px; */
}
.commentForm {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
.commentInput {
	width: 90%;
	height: 50px;
	padding: 0px 20px 0px 20px;
	border: none;
	background-color: #ffffff;
	border-radius: 16px;
	padding: 15px 10px 10px 30px;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
	margin-right: 30px;
}
.commentInput:focus {
	outline: none;
}
.commentInput::placeholder {
	font-size: 16px;
	/* text-align: center; */
	align-items: center;
	/* line-height: 15; */
}
.commnetSubmitBtn {
	width: 15%;
	height: 75px;
	padding: 0px 50px;
	border-radius: 16px;
	border: none;
	background-color: #6594e7;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
.commentInputCount {
	display: flex;
	justify-content: flex-end;
	padding-top: 10px;
	padding-bottom: 30px;
}
.commentInputCountTxt {
	color: #6594e7;
	font-size: 18px;
	font-weight: bold;
}
.commentCount {
	font-size: 18px;
	font-weight: bold;
}
