.container {
	/* width: 100vw; */

	display: flex;
	justify-content: center;
}
.wrapper {
	width: 1300px;
	gap: 50px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wrapper > :first-child {
	margin-top: 50px;
}
.wrapper > :last-child {
	margin-bottom: 50px;
}

.loadingContainer {
	height: calc(100vh - 290px);
	font-size: 20px;

	display: flex;
	align-items: center;
	justify-content: center;
}
