.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container > a {
	background-size: cover;
}
.text {
	margin: 40px 0;
	font-size: 30px;
}
.highlight {
	color: #6594e7;
}
.containermiddle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.containermiddleEmail {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.containerBottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.middletext {
	color: #999;
}

.btnWrap {
	display: flex;
	justify-content: space-between;
}
.resignupBtn {
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;

	border: none;
	cursor: pointer;

	color: #ffffff;
	background-color: #6594e7;
	width: inherit;
	height: 50px;
	margin-top: 50px;
	padding: 0px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
