.container {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.title {
	width: 1300px;
	margin: 0 auto 30px auto;
	font-size: 30px;
	font-weight: bold;
}

.infoWrap {
	width: 1300px;
	margin: 0 auto 20px auto;
	display: flex;
	justify-content: space-between;
}

.contentInfoWrap {
	display: flex;
	align-items: center;
}

.dot {
	font-size: 5px;
	height: 16px;
	line-height: 16px;
	margin: 0 5px;
}

.adimBtnWrap {
	display: flex;
}

.adimBtnWrap > a {
	margin-right: 30px;
	width: 100px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #000;
	color: black;
	text-align: center;
}
.adimBtnWrap > button {
	margin-right: 50px;
	width: 100px;
	height: 24px;
	cursor: pointer;
}

.line {
	width: 1300px;
	margin-bottom: 30px;
}

.viewerWrap {
	width: 1300px;
	min-height: 700px;
	margin: 0 auto 30px auto;
}
/* option section*/

.optionContainer {
	width: 1300px;
	margin: 0 auto 30px auto;
	display: flex;
	flex-wrap: wrap;
}
.optionItemWrap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 650px;
	height: 70px;
	margin-bottom: 30px;
}
.optionItemTitle {
	font-size: 24px;
	font-weight: bold;
	color: #717171;
}
.optionItemContent {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
	color: #000;
}
.optionItemContent:visited {
	color: #000;
}
/* ToastUIEditor viewer */

.toastuiEditorContents p {
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin-bottom: 1rem;
}

.toastuiEditorContents h1,
.toastuiEditorContents h2,
.toastuiEditorContents h3,
.toastuiEditorContents h4,
.toastuiEditorContents h5,
.toastuiEditorContents h6 {
	padding: 2rem 0 1rem 0;
	border-bottom: none;
	margin: 0;
}

.toastuiEditorContents h1:first-of-type,
.toastuiEditorContents h2:first-of-type,
.toastuiEditorContents h3:first-of-type,
.toastuiEditorContents h4:first-of-type,
.toastuiEditorContents h5:first-of-type,
.toastuiEditorContents h6:first-of-type {
	padding-top: 0;
}

.toastuiEditorContents h1 {
	font-size: 2.4rem;
}
.toastuiEditorContents h2 {
	font-size: 2.1rem;
}
.toastuiEditorContents h3 {
	font-size: 1.9rem;
}
.toastuiEditorContents h4 {
	font-size: 1.7rem;
}
.toastuiEditorContents h5 {
	font-size: 1.5rem;
}
.toastuiEditorContents h6 {
	font-size: 1.3rem;
}

.toastuiEditorContents ul,
.toastuiEditorContents ol {
	margin-bottom: 1rem;
	padding-left: 2rem;
}

.toastuiEditorContents li {
	margin-bottom: 0.5rem;
}

.toastuiEditorContents li p {
	margin-bottom: 0;
}

.toastuiEditorContents li::before {
	content: '';
	display: block;
	margin-top: 0.75rem;
	margin-left: -1.25rem;
	width: 0.4375rem;
	height: 0.4375rem;
	border-radius: 100%;
	background-color: black;
}
