.container {
	width: 100vw;

	display: flex;
	justify-content: center;
}
.wrapper {
	width: 1300px;
	gap: 50px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bookItemWrapper {
	width: 1075px;
	height: 3000px;
	margin-top: 50px;
}
