/* 부모 컴포넌트 타이틀 */
.titleWrapper {
	width: inherit;
	height: 25px;
	margin-bottom: 30px;

	display: flex;
	justify-content: space-between;
}
.titleName {
	display: flex;
}
.titleName h1 {
	font-size: 22px;
	font-weight: bold;
}
.titleName p {
	font-size: 14px;
	margin: 8px 0 0 20px;

	color: #aaaaaa;
}
.seeAll {
	font-size: 12px;
	margin-top: 12px;

	text-align: right;
	cursor: pointer;

	transition: color 0.2s;
}
.seeAll:hover {
	color: #6594e7;
}
