.newBookWrapper {
	width: inherit;
	height: 470px;

	display: flex;
	flex-direction: column;
}

/* .bookItemWrapper {
	width: 1300px;

	display: flex;
	flex-direction: row;
	gap: 20px;
} */
