/* 로그인/회원가입 모달 백그라운드 */
.container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;

	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	overflow: auto;
	overflow-y: scroll;

	background-color: rgba(0, 0, 0, 0.3);
}

/* 로그인/회원가입 모달 틀 */
.modalWrapper {
	width: 950px;
	height: 800px;
	border-radius: 30px;
	gap: 20px;

	display: flex;
	justify-content: center;
	/* align-items: center; */

	background-color: #f4f2e5;
}

/* 로그인/회원가입 모달 좌측 이미지(로고) */
.modalImage {
	width: 450px;
	height: 500px;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ffffff;
}

/* 로그인/회원가입 모달 우측 컨텐츠 랩퍼(이메일, 비밀번호 입력 칸 및 로그인, 가입 버튼 등) */
.modalContents {
	width: 450px;
	height: 500px;
	border-radius: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.contents {
	width: 400px;
	height: inherit;
}
.title {
	width: inherit;
	height: 50px;

	display: flex;
	justify-content: space-between;
}
.title > span {
	font-size: 32px;
	font-weight: bold;

	display: flex;
	align-items: center;
}

/* 컨텐츠 랩퍼 내 가입 폼 랩퍼 */
.formWrapper {
	width: inherit;
	height: 425px;
	margin-top: 25px;
}
.inputWrapper {
	width: inherit;
	/* height: 360px; */
	gap: 20px;

	display: flex;
	flex-direction: column;
}
.inputLabel {
	width: inherit;
	height: 70px;
	font-size: 20px;
	font-weight: bold;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.inputField {
	width: 100%;
	height: 36px;
	border-radius: 10px;
	font-size: 16px;
	padding: 0 12px;

	border: none;
	box-sizing: border-box;
}

.buttonWrapper {
	width: inherit;
	height: 50px;
	margin-top: 80px;

	display: flex;
	justify-content: space-between;
}

/* 회원가입 시 회원가입 버튼 */
.signupButton {
	width: inherit;
	height: inherit;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;

	border: none;
	cursor: pointer;

	color: #ffffff;
	background-color: #6594e7;
}
.signupButton:hover {
	background-color: #3464b9;
}

/* 로그인 시 로그인 버튼 */
.loginLeftButton {
	width: 290px;
	height: inherit;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;

	border: none;
	cursor: pointer;

	color: #ffffff;
	background-color: #6594e7;
}
.loginLeftButton:hover {
	background-color: #3464b9;
}
.loginRightButton {
	width: 100px;
	height: inherit;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;

	border: none;
	cursor: pointer;

	color: #000000;
	background-color: #f4f2e5;
}
.loginRightButton:hover {
	color: #ffffff;
	background-color: #6594e7;
}

/* 나가기 아이콘 */
.closeIcon {
	cursor: pointer;
}

/* address */
.inputAddress {
	display: flex;
	justify-content: space-between;
}
.inputFieldAddress {
	width: 55%;
	height: 36px;
	border-radius: 10px;
	font-size: 16px;
	padding: 0 12px;

	border: none;
	box-sizing: border-box;
}
.inputFieldBtn {
	width: 40%;
	height: 36px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	color: #ffffff;
	background-color: #6594e7;
}
.postcodeWrapper {
	position: relative; /* 이 부분을 추가합니다. */
	width: 500px; /* DaumPostcode와 동일한 너비 */
	height: 500px; /* DaumPostcode와 동일한 높이 */
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.closeBtn {
	position: absolute;
	right: 0; /* 오른쪽 상단에 위치하도록 조정 */
	top: 0; /* 상단에 위치하도록 조정 */
}
.closeBtnBackground {
	position: absolute;
	right: 0; /* 오른쪽 상단에 위치하도록 조정 */
	top: 0; /* 상단에 위치하도록 조정 */
	width: 20px;
	height: 20px;
	background-color: black;
}
.postCodeStyle {
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.daumPostBackground {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
}
